#clock {
  margin-top: 50px;
  font-family: Helvetica Neue;
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}

#alarms {
  text-align: center;
}

#main {
  background-color: rgba(255,255,255,0.45);
  border-width: 1px;
  border-style: solid;
  border-color: #AAA;
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: -150 -250;
}

#alarms li {
  list-style-type: none;
  color: white;
}

#alarms h2 {
  margin-top: 15px;
  background-color: #F47F24;
  color: white;
  margin-bottom: 0px;
  font-weight: 300;
}

.sunrise {
  background-color: rgba(64,156,255,1);
}

.morning {
  background-color: rgba(64,156,255,1);
}

.noon {
  background-color: rgba(64,156,255,1);
}

.early-afternoon {
  background-color: rgba(74,146,235,1);
}

.mid-afternoon {
  background-color: rgba(94,126,225,1);
}

.late-afternoon {
  background-color: rgba(124,106,175,1);
}

.dusk {
  background-color: rgba(184,96,95,1);
}

.early-night {
  background-color: rgba(154,76,75,1);
}

.night {
  background-color: rgba(24,26,105,1);
}
